.mainContainer {
    flex: auto;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 4rem !important;
    padding-bottom: 8rem !important;
    overflow: hidden;
    background: #f8ef6f;
}

.servicesContainer {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 15rem !important;
    padding-bottom: 15rem !important;
}
@media (min-width: 576px) {
    .servicesContainer {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .servicesContainer {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .servicesContainer {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .servicesContainer {
        max-width: 1140px;
    }
}

.textContainer {
    text-align: center !important;
    padding-bottom: 1rem !important;
}

.titleStyle {
    color: #ff4f0a !important;
    text-transform: uppercase !important;
    font-weight: 700 !important;
    font-size: 2.5rem;
    padding-bottom: 1.5rem !important;
}

.secondTitle {
    margin-bottom: 1.5rem !important;
}

.rowContainer {
    display: flex;
    justify-content: center;
    margin-right: 50px;
    margin-left: 50px;
    padding-bottom: 1rem !important;
    margin-top: 40px;
}

.eachService {
    position: relative;
    width: 100%;
    padding-right: 50px;
    padding-left: 50px;
    text-align: center !important;
    margin-bottom: 0rem !important;
}

.eachServiceDesign {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    background-color: #ff4800 !important;
    margin-bottom: 1rem !important;
    padding: 2rem 1rem 2rem 1rem !important;
}

.iconsStyle {
    color: #000000 !important;
    padding-right: 2rem !important;
    font-size: 3rem;
}

.vehicle {
    color: white;
    font-weight: 500 !important;
    margin: 0 !important;
}
