.eachImageContainer {
    margin: 0rem 1rem 2rem 1rem; 
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: auto;
    border-style: solid;
    border-color: coral;
    color: rgb(29, 29, 29);
    background-color: #fff;
    border-radius: 3px;
}

.eachImageDesign {
    position: relative;
    overflow: hidden;
    text-align: center;
}
.eachImageDesign img {
    position: relative;
    justify-content: center;
    display: block;
    width: 300px;
    height: 250px;
    opacity: 1;
}

.eachCardImage {
    max-width: 100%;
    height: 100%;
    width: 100%;
    justify-content: center;
    display: flex;
}

.eachCardBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 15px 15px 15px 15px;
    height: 100px;
    max-height: 100px;
    background-color: #fff;
}
.eachCardBody p {
    font-size: 13px;
    margin: 0 0 30px;
}

.userReviews {
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.userReviews h5 {
    margin: 0;
}
.userReviews small {
    color: #545d7a;
}

.actionButtonsCard {
    padding: 0px;
    float: right;
}

.viewButton {
    padding: 0px;
    margin-right: 5px;
    font-weight: 500;
    border: 50px;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    background-color: #dfffb1;
}

.editButton {
    padding: 0px;
    margin-right: 5px;
    font-weight: 500;
    border: 50px;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    background-color: #f8ef6f;
}

.deleteButton {
    padding: 4px 0px 4px 0px;
    font-weight: 500;
    border: 50px;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    background-color: #ffc7c7;
}
