.searchContainer {
    min-height: 200px;
    background-color: #f8ef6f;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.formSearch {
    display: flex !important;
}
@media (max-width: 575px) {
    .formSearch {
        width: 100%;
        justify-content: center;
    }
}

.formSearchDesign {
    display: block;
    min-height: calc(1.5em + 0.75rem + 2px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 300px;
    border-radius: 3px;
    margin: 10px;
    padding: 10px;
    color: #009999;
    border: none;
}
.formSearchDesign:focus {
    color: #495057;
    background-color: #fff;
    border-color: #8bbafe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.formSearchDesign::placeholder {
    color: #6c757d;
    opacity: 1;
}
.formSearchDesign:disabled {
    background-color: #e9ecef;
    opacity: 1;
}
@media (max-width: 575px) {
    .formSearchDesign {
        width: 100%;
        max-width: 360px;
    }
}

.buttonSearch {
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    line-height: 1.5;
    cursor: pointer;
    border: none;
    padding: 0.5rem;
    font-size: 1.3rem;
    font-weight: 500;
    width: 100px;
    height: 50px;
    border-radius: 3px;
    color: white;
    background-color: #009999;
}
.buttonSearch:hover {
    padding-left: 10px;
    color: #71ff58;
}
.buttonSearch:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(40, 255, 25, 0.25);
}
.buttonSearch:disabled {
    pointer-events: none;
    opacity: 0.5;
}

.searchButtonPlace {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.mainContainer {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
    padding-bottom: 0rem !important;
    padding-top: 0rem !important;
    overflow: hidden;
    background: #f8ef6f;
}

.paddingContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 2rem !important;
    padding-top: 0rem !important;
}
@media (min-width: 576px) {
    .paddingContainer {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .paddingContainer {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .paddingContainer {
        max-width: 1060px;
    }
}

.rowCatalog {
    margin-bottom: 1.5rem !important;
    --bs-gutter-x: 2rem;
    --bs-gutter-y: 0rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.rowCatalog > * {
    flex-shrink: 0px;
    width: 100%;
    max-width: 100%;
    margin-top: var(--bs-gutter-y);
}

.titleCatalog {
    flex: 0 0 auto;
    width: 100%;
    text-align: center;
    padding: 30px;
    color: #009999;
}

.catalogMainContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.catalogMainContainer > * {
    flex-shrink: 0px;
    width: 100%;
    max-width: 100%;
}

.paginationStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    padding-top: 40px;
    background-color: #f8ef6f;
}

.searchDivDesign {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.searchBarButton {
    display: block;
    justify-content: center;
    align-items: center;
}
