.containerPlan {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
    background: #f8ef6f;
    overflow: hidden;
}

.containerDesign {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 576px) {
    .containerDesign {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .containerDesign {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .containerDesign {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .containerDesign {
        max-width: 1140px;
    }
}

.title {
    text-align: center !important;
    padding-bottom: 0.5rem !important;
}

.titleDesign {
    color: #ff4800 !important;
    text-transform: uppercase !important;
    font-weight: 700 !important;
    margin-bottom: 1.5rem !important;
}

.secondTitle {
    margin-bottom: 1.5rem !important;
}

.priceContainer {
    display: flex;
    margin-right: 0px;
    margin-left: 0px;
    text-align: center !important;
    justify-content: center;
    margin-top: 40px;
}

.eachContainer {
    margin-bottom: 0rem !important;
}
.eachContainer {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
@media (min-width: 768px) {
    .eachContainer {
        flex: 0 0 33%;
        max-width: 33%;
    }
}

.eachContainerDesign {
    background-color: #a6d8ff !important;
}

.priceDesign {
    text-align: center !important;
    padding: 1.5rem !important;
}

.hPriceDesign {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 0 !important;
}

.signMoney {
    vertical-align: top !important;
    color: #6c757d !important;
    font-weight: 500 !important;
    font-size: 22px;
    line-height: 45px;
}

.monthMoney {
    vertical-align: bottom !important;
    color: #6c757d !important;
    font-weight: 500 !important;
    font-size: 16px;
    line-height: 40px;
}

.titlePricingPlan {
    background-color: #ff4800 !important;
    text-align: center !important;
    padding: 1.5rem !important;
}

.titlePricingPlanMargin {
    margin: 0 !important;
}

.package {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}

.buttonStyle {
    display: inline-block;
    font-weight: 400;
    color: #757575;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.buttonStyle {
    color: #fff;
    background-color: #ff4800;
}
.buttonStyle:hover {
    color: #8fff87;
    background-color: #ff4800;
}
.buttonStyle:focus {
    color: #fff;
    background-color: #d93d00;
    border-color: #cc3a00;
    box-shadow: 0 0 0 0.2rem rgba(255, 99, 38, 0.5);
}
.buttonStyle:disabled {
    color: #fff;
    background-color: #ff4800;
    border-color: #ff4800;
}
