.mainContainer {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
    padding-bottom: 0rem !important;
    padding-top: 0rem !important;
    overflow: hidden;
    background-color: #f8ef6f;
}

.mainContainerDesign {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 576px) {
    .mainContainerDesign {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .mainContainerDesign {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .mainContainerDesign {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .mainContainerDesign {
        max-width: 1140px;
    }
}

.cardDesign {
    padding-bottom: 0rem !important;
    padding-top: 5rem !important;
    max-width: 100%;
    display: flex;
    width: 100%;
    margin-left: 0em;
    background-color: #f8ef6f;
    justify-content: center;
    flex-wrap: wrap;
    text-align: left;
}

.title {
    text-align: center;
    margin-bottom: 5rem;
}

.serviceTicket {
    display: flex;
    justify-content: center;
    text-align: left;
    margin: auto;
    overflow: hidden;
    font-size: 15px;
    width: 100%;
    padding: 1rem;
    border-bottom: 3px solid #ffffff !important;
}

.serviceLeft img {
    border-color: coral;
    border-style: solid;
    border-radius: 1rem;
    border-width: 4px;
    width: 450px;
    height: 100%;
    padding: 0;
}
@media (max-width: 991px) {
    .img {
        max-width: 350px;
    }
}
@media (max-width: 575px) {
    .img {
        max-width: 150px;
    }
}

.serviceRight {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    font-size: 10px;
    flex-direction: column;
}

.info {
    padding-left: 5px;
}

.infoDesign {
    word-wrap: break-word;
    width: 30rem;
    max-width: 30rem;
    font-size: 20px;
    margin: 1rem 5rem;
    padding: 15px;
    border: 3px solid rgb(0, 132, 0);
}

.buttonsDesign {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.likeDesign {
    font-size: 1.8rem;
    padding: 10px;
}

.likeCounter{
    padding-left: 10px;
    padding-right: 10px;
}

.like {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    border: none;
    font-size: 1.5rem;
    padding: 10px;
    margin: 10px;
    width: 100px;
    color: rgb(255, 255, 255);
    background-color: cornflowerblue;
}

.dislike {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    border: none;
    font-size: 1.5rem;
    padding: 10px;
    margin: 10px;
    width: 100px;
    color: rgb(255, 176, 176);
    background-color: cornflowerblue;
}

.commentsDesign {
    text-align: center;
    margin: 2rem;
}

.like:hover,
.dislike:hover {
    transform: scale(1.1);
}
