.alertTr {
    text-align: center;
    font-size: larger;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    background-color: #ffffff;
    border-bottom: 2px solid #cdcdcd;
}

.rowAdmin {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.faAdminClose {
    font: normal 15px FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    color: red;
    border: none;
    background-color: #ffffff;
}
.faAdminClose:before {
    content: "\f00d";
}

.adminColor {
    color: green;
    font-weight: 600;
    font-size: 1.5rem;
}

.userColor {
    color: red;
    font-weight: 600;
    font-size: 1.5rem;
}

.changeButton {
    font: normal 15px FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    color: rgb(78, 78, 78);
    border: none;
    background-color: #ffffff;
}
.changeButton::before {
    content: "\f044";
}