.formDesign {
    margin: 0 !important;
}

.errorMessage {
    color: #ff0000;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 25rem;
    max-width: 25rem;
    font-size: 1rem;
}

.inputsStyle,
.errorMsgBox {
    display: block;
    width: 100%;
    flex: 1 0 auto !important;
    font-weight: 500;
    padding: 0.5rem 1rem;
    transition: 0.5s ease;
    font-size: 1.25rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0;
}
.inputsStyle:focus {
    outline: none;
    background-color: #fff;
    border-color: #ffa480;
}
.inputsStyle::placeholder {
    color: var(--special-color);
}
.inputsStyle:disabled {
    background-color: #e9ecef;
    opacity: 1;
}

.errorMsgBox {
    box-shadow: inset 0px 0px 5px #ec5a28;
}
.errorMsgBox:focus {
    box-shadow: inset 0px 0px 5px white;
    outline: none;
}
.errorMsgBox::placeholder{
    color: var(--primary-color);
}