.mainContainer {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
    padding-bottom: 2rem !important;
    padding-top: 0rem !important;
    overflow: hidden;
    background: #f8ef6f;
}

.mainContainerDesign {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    background: #f8ef6f;
}
@media (min-width: 576px) {
    .mainContainerDesign {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .mainContainerDesign {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .mainContainerDesign {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .mainContainerDesign {
        max-width: 1140px;
    }
}

.mainRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.mainRow > * {
    flex-shrink: 0px;
    width: 100%;
    max-width: 100%;
}

.titleDesign {
    flex: 0 0 auto;
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 50px;
    color: #009999;
}

.createDesign {
    display: flex;
    text-align: center;
    justify-content: center;
    flex: 0 0 auto;
    width: 50%;
    font-size: 2rem;
    font-weight: 700;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    color: #000000;
    background-color: #30bbbb;
}
.createDesign:hover {
    color: rgb(126, 255, 134);
}

.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
    width: 100%;
    background-color: #f8ef6f;
    padding: 2.5rem;
}

.eachCardUser {
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}
.eachCardUser img {
    border-radius: 50%;
    width: 40px;
    height: 20px;
    margin-right: 10px;
}
