.nav-bg {
    background-color: #7dcfff !important;
}

.nav-overflow {
    overflow: hidden;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}
.user-btn {
    display: flex;
    overflow: hidden;
    background: rgb(255, 102, 0);
}
.navbar-user {
    justify-content: center;
    padding-right: 5px;
    float: right;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.display-4 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}
@media (max-width: 1200px) {
    .display-4 {
        font-size: calc(1.475rem + 2.7vw);
    }
}
.container-fluid {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
.collapse:not(.show) {
    display: none;
}
.nav-link {
    display: block;
    padding: 1rem 1rem;
}
.nav-link:hover,
.nav-link:focus {
    text-decoration: none;
}
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
}
.navbar-brand {
    display: inline-block;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.navbar-brand:hover,
.navbar-brand:focus {
    text-decoration: none;
}
.navbar-nav {
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-left: auto;
    margin-bottom: auto;
    list-style: none;
    flex: 1;
}
.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}
.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
}
.navbar-toggler:hover,
.navbar-toggler:focus {
    text-decoration: none;
}
.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}
@media (min-width: 992px) {
    .navbar-expand-lg {
        flex-flow: row nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }
    .navbar-expand-lg .navbar-toggler {
        display: none;
    }
}
.navbar-light .navbar-brand {
    color: rgba(0, 0, 0, 0.9);
}
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus {
    color: rgba(0, 0, 0, 0.9);
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.5);
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: rgba(0, 0, 0, 0.7);
}
.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1);
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.justify-content-between {
    justify-content: space-between !important;
}
.m-0 {
    margin: 0 !important;
}
.mr-0 {
    margin-right: 0 !important;
}
.p-0 {
    padding: 0 !important;
}
.py-0 {
    padding-top: 0 !important;
}
.py-0 {
    padding-bottom: 0 !important;
}
.py-3 {
    padding-top: 1rem !important;
}
.py-3 {
    padding-bottom: 1rem !important;
}
.m-auto {
    margin: auto !important;
}
@media (min-width: 992px) {
    .ml-lg-3 {
        margin-left: 1rem !important;
    }
    .py-lg-0 {
        padding-top: 0 !important;
    }
    .py-lg-0 {
        padding-bottom: 0 !important;
    }
    .px-lg-2 {
        padding-right: 0.5rem !important;
    }
    .px-lg-2 {
        padding-left: 0.5rem !important;
    }
}
.text-uppercase {
    text-transform: uppercase !important;
}
.text-primary {
    color: #ff4800 !important;
}
@media print {
    *,
    *::before,
    *::after {
        text-shadow: none !important;
        box-shadow: none !important;
    }
    a:not(.btn) {
        text-decoration: underline;
    }
    .navbar {
        display: none;
    }
}
h1 {
    font-weight: 800 !important;
}
.navbar-light .navbar-nav .nav-link {
    padding: 15px 15px;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0px;
    color: #1f1f2e;
    outline: none;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #ffffff;
    background: #ff4800;
}
@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link {
        padding: 10px 15px;
    }
}
nav {
    display: block;
}
h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}
a:hover {
    color: #fa8b5f;
}
.container-fluid {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
@media print {
    *,
    *::before,
    *::after {
        text-shadow: none !important;
        box-shadow: none !important;
    }
    a:not(.btn) {
        text-decoration: underline;
    }
}
