.myCardDesign {
    margin: 10px;
    margin-left: 2em;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
}

.cardImage img {
    width: 100%;
    height: 300px;
    object-fit: fill;
}

.cardBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 20px;
    height: 160px;
}
.cardBody p {
    font-size: 13px;
    margin: 0 0 30px;
}

.detailsCard {
    text-align: center;
    border-style: solid;
    border-radius: 30px;
    border-width: 3px;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: #f8ef6f;
}
.detailsCard:hover {
    color: skyblue;
}

.userDesign {
    display: flex;

    margin-top: auto;
}
.userDesign img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.userInfo {
    margin: 0;
}
.userInfo small {
    color: #545d7a;
}
