.mainContainer {
    width: 100%;
    padding: 0rem 0rem 5rem 0rem;
    margin: 0rem auto 0rem auto;
    overflow: hidden;
    background: #f8ef6f;
}

.mainContainerStyle {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 576px) {
    .mainContainerStyle {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .mainContainerStyle {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .mainContainerStyle {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .mainContainerStyle {
        max-width: 1140px;
    }
}

.rowContainer {
    display: flex;
    margin-right: 0px;
    margin-left: 0px;
    align-items: center !important;
    justify-content: center;
    margin-top: 40px;
    overflow: hidden;
}

.textContainer {
    position: relative;
    width: 100%;
    margin: 0;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}
@media (min-width: 992px) {
    .textContainer {
        flex: 0 0 58%;
        max-width: 58%;
    }
}
@media (min-width: 992px) {
    .textContainer {
        padding-top: 0 !important;
    }
    .textContainer {
        padding-bottom: 0 !important;
    }
}

.firstTitle {
    flex: 0 0 auto;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 50px;
    color: #009999;
}

.fillContainer {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
@media (min-width: 992px) {
    .fillContainer {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
}

.fillContainerDesign {
    background-color: #a6e0d4 !important;
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    padding-right: 0 !important;
    padding-left: 10 !important;
}
@media (min-width: 576px) {
    .fillContainerDesign {
        padding-right: 2rem !important;
    }
    .fillContainerDesign {
        padding-left: 2rem !important;
    }
}

.formDesign {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}

.eachGapDesign {
    margin-bottom: 1rem;
}

.formStyle {
    border: none;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}
.formStyle {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
}
.formStyle:focus {
    color: #495057;
    background-color: #fff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 72, 0, 0.25);
}
.formStyle:disabled {
    background-color: #e9ecef;
    opacity: 1;
}
textarea.formStyle {
    height: auto;
}

.errorMessage {
    color: #ff0000;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 25rem;
    max-width: 25rem;
    font-size: 1rem;
    font-weight: 500;
}

.selectOptionsDesign {
    display: inline-block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2rem;
    color: #525252;
    vertical-align: middle;
    background: #fff
        url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e")
        no-repeat right 0.75rem center/8px 10px;
    /* border: 2px solid #ced4da;
    border-radius: 0; */
    appearance: none;
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}
.selectOptionsDesign:focus {
    /* border-color: #ffa480; */
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 72, 0, 0.25);
}
.selectOptionsDesign:disabled {
    color: #6c757d;
    background-color: #e9ecef;
}
.selectOptionsDesign::-ms-expand {
    display: none;
}

.descriptionDesign {
    border: 0 !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    display: block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    resize: none;
    width: 100%;
    max-width: 100%;
    line-height: 3;
    color: #495057;
    background-color: #fff;
}

.descriptionDesign {
    border: 0 !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 0;
}

.buttonDesign {
    border: 0 !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    display: block;
    width: 100%;
    color: #646464;
    font-weight: 500;
    text-align: center;
    user-select: none;
    background-color: transparent;
    padding: 0.3rem 0.75rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
    border-radius: 30px;
}
.buttonDesign {
    color: rgb(0, 0, 0);
    background-color: #6dcafc;
    border-color: #1f1f2e;
}
.buttonDesign:hover {
    color: rgb(255, 136, 0);
    background-color: #3cff00;
    border-color: #0a0a10;
}
