.alertTr {
    position: relative;
    text-align: center;
    font-size: larger;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    background-color: #ffffff;
}

.rowAdmin {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.faAdminClose {
    font: normal normal normal 15px FontAwesome;
    font-size: inherit;
    text-rendering: auto;
}
.faAdminClose:before {
    content: "\f00d";
}
