@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://use.fontawesome.com/releases/v5.10.2/css/all.css");

:root,
body,
html {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #ff4800;
    --secondary: #f2f2f4;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #ffffff;
    --dark: #1f1f2e;
    --font-family-sans-serif: "Poppins", sans-serif;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;
}

* {
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
a {
    color: #ff4800;
    text-decoration: none;
    background-color: transparent;
}
a:hover {
    color: #fa8b5f;
}
img {
    vertical-align: middle;
    border-style: none;
}
label {
    display: inline-block;
    margin-bottom: 0rem;
}
button:focus {
    outline: none;
}
input,
button {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button,
input {
    overflow: visible;
}
button {
    text-transform: none;
}
button,
[type="button"] {
    -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner {
    padding: 0;
    border: 0;
}
input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 200;
    line-height: 1;
    color: #000000;
    text-align: left;
    background-color: #1f1f2e;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

h1,
.h1 {
    font-size: 2.5rem;
}

h2,
.h2 {
    font-size: 2rem;
}

h3,
.h3 {
    font-size: 1.75rem;
}

h4,
.h4 {
    font-size: 1.5rem;
}

h5,
.h5 {
    font-size: 1.25rem;
}

h6,
.h6 {
    font-size: 1rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

button {
    cursor: pointer;
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

small {
    font-size: 80%;
    font-weight: 400;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0;
}

@font-face {
    font-family: "FontAwesome";
    src: url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0");
}
