.eachImageContainer {
    margin: 0rem 1rem 2rem 1rem; 
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: auto;
    border-style: solid;
    color: rgb(120, 120, 120);
    background-color: #fff;
    border-radius: 5px;
}

figure.eachImageDesign {
    background: #030c17;
}
figure.eachImageDesign img {
    opacity: 0.9;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}
figure.eachImageDesign figcaption::before {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    border: 2px solid #fff;
    box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.2);
    content: "";
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale3d(1.4, 1.4, 1);
    transform: scale3d(1.4, 1.4, 1);
}
figure.eachImageDesign h2 {
    font-size: 1.3em;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
figure.eachImageDesign:hover figcaption::before,
figure.eachImageDesign:hover h2 {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
figure.eachImageDesign:hover figcaption {
    background-color: rgba(58, 52, 42, 0);
}
figure.eachImageDesign:hover img {
    opacity: 0.4;
}
.eachImageDesign {
    position: relative;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
}
.eachImageDesign img {
    position: relative;
    justify-content: center;
    display: block;
    width: 300px;
    height: 250px;
    opacity: 1;
}
.eachImageDesign figcaption {
    padding: 2rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.eachImageDesign figcaption::before,
.eachImageDesign figcaption::after {
    pointer-events: none;
}
.eachImageDesign figcaption,
.eachImageDesign figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.eachImageDesign figcaption > a {
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}
.eachImageDesign h2 {
    word-spacing: 0.15em;
    font-weight: 300;
}
.eachImageDesign h2 {
    margin: 0;
}

.eachImageStyle {
    max-width: 100%;
    height: auto;
}

.figcaptionDesign {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.reviewsContainer {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center;
    color: #999;
    padding: 10px;
}

.imageReview {
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.likeCounter{
    padding-left: 5px;
    padding-right: 5px;
}
